*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Open Sans', sans-serif;
}

header{
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}
main{
    padding-top: 47px;
}

img{
    max-width: 100%;
}

.debug{
    border: 1px dashed black;
}

.flex{
    display: flex;
}

.direction-column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.justify-between{
    justify-content: space-between;
}

.flex-wrap{
    flex-wrap: wrap;
}

.align-self{
    align-self: center;
}

nav{
    align-self: center;
}

.nav-list{
    list-style-type: none;
    display: flex;
}

.nav-items{
    margin: 5px 10px;
    padding: 4px 10px;
    align-self: center;
}

.anchor{
    text-decoration: none;
    color: #828282;
    font-weight: 500;
    font-size: .9rem;
    white-space: nowrap;
}

.empty{
    margin: 0;
}

.start{
    background-color: #0061FF;
}

.start a{
    color: white;
}

/* ! 3 container */

.container-full{
    width: 100%;
    display: flex;
}

.container{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.container-small{
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
    margin-top:75px;
    margin-bottom: 40px;
}

.container-cards{
    margin-top: 40px;
}

.section-bg, .section{
    background-color: #B4D0E7;
}

.section-cards{
    margin-top: 150px;
}

.title{
    font-size:4rem;
    font-weight: 700;
    padding-top: 50px;
}

p{
    font-size: .95rem;
    line-height: 20px;
}

.col1{
    width: 35%;
    padding-top: 25px;
}
.col2{
    width: 65%;
    padding-top: 25px;
}

.img-jumbo{
    margin-bottom: -65px
}

.btn{
    background-color:#0061FF ;
    border: 1px solid #0061FF;
    color: white;
    padding: 8px;
    display: inline-block;
    text-align: center;
}

.btn.anchor{
    margin-right: auto;
}

.btn-jumbo{
    border: 1px solid #B4D0E7;;
    background-color: #B4D0E7;
    color: black;
    margin-right: auto;
}

.down-arrow{
    font-size: 2.5rem;
    padding-bottom: 10px;
}

label{
    margin-right: 50px;
}

.cards{
    width: calc(100% / 3 - 40px);
    border: 1px solid #8C8F9E ;
}

.title-card{
    text-align: center;
    padding: 5px 0;
    border-bottom: 1px solid #8C8F9E ;
}  

.title-card span{
    font-size: .8rem;
}

.title-card i{
    font-size: .8rem;
}

.body-card{
    padding: 0 15px;
}

.body-card h3{
    padding: 5px 10px;
}

.price{
    font-weight: bold;
    font-size: .75rem;
    padding: 5px 10px;
}

.month{
    font-size: 0.75rem;
    color: #8C8F9E;
    padding: 5px 15px;
}

.info-icon{
    font-size: .8rem;
    padding: 8px 10px;
}

.info-now{
    color: blue;
    font-size: .8rem;
}

.body-card .direction-column{
    margin: 20px 0;
}

.empty-container{
    width: 50px;
    border-top: 1px solid gray;
    margin-left: 10px;
}

.btn-cards{
    font-size: .75rem;
    background-color:#0061FF ;
    border: 1px solid #0061FF;
    color: white;
    padding: 8px 30px;
    margin-bottom: 15px;
    text-decoration: none;
    text-align: center;
}

.text-shop-now{
    font-size: .8rem;
    padding: 5px 10px; 
}

h5{
    padding: 5px 10px; 
    margin-bottom: 15px;
}

h2{
    margin-bottom: 40px;
    font-size: 2.5rem;
}

h3{
    padding: 5px 10px;
}

.flag{
    font-size: .8rem;
    font-weight: bold;
    color: #0061FF ;
    margin-left: 10px;
    padding-right:5px;
    margin-bottom: 15px;
}

.text{
    font-size: .81rem;
    margin-bottom: 15px;
}

.full-card{
    border: 1px solid #8C8F9E ;
}

.btn-card-full{
    font-size: .75rem;
    background-color:#0061FF ;
    border: 1px solid #0061FF;
    color: white;
    padding: 8px 30px;
    margin: 20px 15px 20px 10px;
}

.title-card-full{
    margin-top: 19px;
}

.info-card-full{
    display: inline-block;
    font-size: .8rem;
    padding: 8px 11px;
    margin-bottom: 35px;
}

.trasparent-btn{
    background-color: white;
    color: black;
    padding: 8px 15px;
    margin-left: 40px;
}

.text-partner{
    font-size: .8rem;
    margin-left: 40px;
    margin-bottom: 15px;
    line-height: 20px;
}

.title-partner{
    margin-left: 40px;
    margin-bottom: 15px;
    padding: 0;
}

.container-small > .col1{
    margin-top: 55px;
}

.col1-full-card{
    width: 35%;
    text-align: end;
}
.col2-full-card{
    width: 65%;
}

.container-mini-cards{
    flex-wrap: wrap;
}

.container-mini-cards .cards{
    width: calc(100% / 3 - 16px);
    border: 0;
    margin: 20px 8px;
}

.title-mini-cards{
    padding: 0;
    margin-bottom: 15px;
}

.paragraph-mini-cards{
    line-height: 20px;
    font-size: 0.85rem;
}

.central-square, .members-container{
    width: calc(100% / 3);
    margin-top: 40px;
}

.members-container{
    display: flex;
    flex-wrap: wrap;
}

.members-box{
    width: 50%;
    height: 50%;
    justify-content: center;
    align-items: center;
}

.members-box img{
    max-width: 50%;
    filter: invert(1);
}

.central-square{
    padding: 50px;
    background-color: #F5F5F5;
}

.central-square img{
    max-width: 300px;
}

.central-square hr{
    border: 1px solid lightgray;
    width: 100px;
    margin-top: 35px;
}


.text-center-square{
    margin-bottom: 50px;
}

#designit{
    background-color: #A2D39B; 
}

#asu{
    background-color: #61082B;
}

#uni-florida{
    background-color: #0093CE;
}

#topps{
    background-color: #FF1C1C;
}

#wb-relief{
    background-color: #D5001F;
}

#hearst-corp{
    background-color: #B4D0E7;
}

#lonely-planet{
    background-color: #0D2481;
}

#clear-channel{
    background-color: #FFD830;
}

.section .container-small{
    margin-top: 0;
    margin-bottom: 0;
}

.section h2{
    font-size: 2rem;
    font-weight: 900;
    color: #61082B;
    padding: 40px 0;
}

.section  .col1{
    text-align: end;
    
}

.section .trasparent-btn{
    text-decoration: none;
    font-size: .85rem;
    padding-left:35px;
    padding-right:35px;
    text-align: end;
}