*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family:Arial, Helvetica, sans-serif;
}

header{
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

img{
    max-width: 100%;
}

.debug{
    border: 1px dashed black;
}

.flex{
    display: flex;
}

.direction-column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.justify-between{
    justify-content: space-between;
}

nav{
    align-self: center;
}

ul{
    list-style-type: none;
}

li{
    margin: 5px 10px;
    padding: 4px 10px;
    align-self: center;
}

a{
    text-decoration: none;
    color: #828282;
    font-weight: 500;
    font-size: .9rem;
}

.empty{
    margin: 0;
}

.start{
    background-color: #0061FF;
}

.start a{
    color: white;
}

/* ! 3 container */

.container-full{
    display: flex;
}

.container{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.container-small{
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
    margin-top:75px;
    margin-bottom: 40px;
}

.container-cards{
    margin-top: 40px;
}

.jumbo-section{
    background-color: #B4D0E7;
}

.section-cards{
    margin-top: 150px;
}

.title{
    font-size:4rem;
    font-weight: 700;
    padding-top: 50px;
}

p{
    font-size: .95rem;
    line-height: 20px;
}

.col1{
    width: 35%;
    padding-top: 25px;
}
.col2{
    width: 65%;
    padding-top: 25px;
}
.img-jumbo{
    margin-bottom: -65px
}

.btn{
    background-color:#0061FF ;
    border: 1px solid #0061FF;
    color: white;
    padding: 8px;
}

.btn-jumbo{
    border: 1px solid #B4D0E7;;
    background-color: #B4D0E7;
    color: black;
    padding: 8px;
}

.down-arrow{
    font-size: 2.5rem;
    padding-bottom: 10px;
}

label{
    margin-right: 50px;
}

.cards{
    width: calc(100% / 3);
    border: 1px solid #8C8F9E ;
}

.title-card{
    text-align: center;
    padding: 5px 0;
    border-bottom: 1px solid #8C8F9E ;
}  

.title-card span{
    font-size: .8rem;
}

.title-card i{
    font-size: .8rem;
}

.body-card h3{
    padding: 5px 10px;
}

.price{
    font-weight: bold;
    font-size: .75rem;
    padding: 5px 10px;
}

.month{
    font-size: 0.75rem;
    color: #8C8F9E;
    padding: 5px 15px;
}

.info-icon{
    font-size: .8rem;
    padding: 8px 10px;
}
.shop-now{
    text-decoration:underline;
    color: blue;
    font-size: .8rem;
}

.body-card .direction-column{
    margin: 20px 0;
}

.empty-container{
    width: 50px;
    border-top: 1px solid gray;
    margin-left: 15px;
}

.btn-cards{
    font-size: .75rem;
    background-color:#0061FF ;
    border: 1px solid #0061FF;
    color: white;
    padding: 8px 25px;
    margin-left: 10px;
    margin-bottom: 15px;
}

.text-shop-now{
    font-size: .8rem;
    padding: 5px 10px; 
}

h5{
    padding: 5px 10px; 
    margin-bottom: 15px;
}

h2{
    margin-bottom: 40px;
    font-size: 2.5rem;
}

.flag{
    font-size: .8rem;
    font-weight: bold;
    color: #0061FF ;
    margin-left: 10px;
    padding-right:5px;
    margin-bottom: 15px;
}

.text{
    font-size: .81rem;
    margin-bottom: 15px;
}